<!DOCTYPE html>
<html>
  <head>
    <title>DCDN</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="margin: 0;">
    <div
      id="app"
      data-s3key="<%= ENV["S3_KEY"] %>"
      data-s3bucket="<%= ENV["S3_BUCKET"] %>"
      data-s3region="<%= ENV["S3_REGION"] %>"
      data-s3signerurl="<%= s3_sign_url %>"
      data-endpoint="<%= root_url + 'api' %>"
    >
    </div>
  </body>
</html>
